body {
    margin: 0;
    font-family: "Lato", sans-serif;
    }
    
/*side nav*/
#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 0px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}
#page-content-wrapper {
    padding: 20px;
    position: relative;
  }

 
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}   
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
@media(max-width:976px){
#wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

}
textarea {
  width: 300px;
  height: 150px;
}

/* for table  */
/*
table, th, td {
    border: 0.5px solid black;
}


table {
    border-collapse: collapse;
}
*/

.center, .middle, .mid{
    margin:auto;
    width:60%;
    padding:20px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.hideform {
    display:none;
}

#_table {
    border:3px solid lavender;
    border-radius:3px;
}

.tr_header{
    background-color:dodgerblue;
}

.tr_header th{
    color:white;
    padding:10px 0px;
    letter-spacing: 1px;
}

#_table td{
    padding:10px;
}

#_table tr:nth-child(even){
    background-color:lavender;
    color:black;
}

#div_pagination{
    width:100%;
    margin-top:5px;
    text-align:center;
}


.divnum_rows{
    display: inline-block;
    text-align: right;
    width: 30%;
}
    
/*button start */
.btn{
    font-family: "Helvetica Neue";
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}
.btn:last-child,
.btn:last-of-type {
    margin-right: 0;
}
.btn:hover {
    background: #ccc;
    color: #fff;
}
.btn-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    min-width: 0;
    padding: 0;
    line-height: 38px;
}
.btn .btn-nextpre{
    min-width:100px;
}
/* if the screen is smaller and it will apply */
@media (max-width: 976px){
     
    .mobile-btn{
        margin-left:30%;
        margin-right:25%;
    }
}
/* normal button ends  */

/*hover button starts*/
.btn-3 {
  background-color: #36304a;
}
.btn-3 .round {
  background-color: #737478;
}

.btnstyle {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
  color:white;
  text-decoration:none;
}
.type-1 a:focus {
  
  color:white;
  text-decoration:none;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}

/*hover ends */ 

/*next and previous btn */

.nextbtn {
    width: 100px;
    font-size: 16px;
    font-family: OpenSans-Regular,sans-serif;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
   background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.nextbtn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.nextbtn:focus {
    outline: none;
}



/*[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}
table * {
  position: relative;
  
}
table td, table th {
  padding-left: 8px;
  
}

table tbody tr {
  height: 50px;
  
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
  
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular,sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
   height: 60px;
  background: #36304a;
}

.noHover{
    pointer-events: none !important;
}
/*
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
*/
tbody tr {
  font-family: OpenSans-Regular,sans-serif;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
}

@media screen and (max-width: 976px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead tr {
    display: none;
  }
  .mobile-none{
      display:none;
  }
   tr:nth-child(odd) {
      background: #f5f5f5;
    }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular,sans-serif;;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  
  /*Mobile View */
   /* Actor */
   .actor tbody tr td:nth-child(2):before {
    content: "Actor:";
  }
  .actor tbody tr td:nth-child(3):before {
    content: "First Name:";
  }
  .actor tbody tr td:nth-child(4):before {
    content: "Last Name:";
  }
  .actor tbody tr td:nth-child(5):before {
    content: "Last Update:";
  }
  
  /* Address */
  .address tbody tr td:nth-child(2):before {
    content: "Address ID:";
  }
  .address tbody tr td:nth-child(3):before {
    content: "Address:";
  }
  .address tbody tr td:nth-child(4):before {
    content: "Address2:";
  }
  .address tbody tr td:nth-child(5):before {
    content: "District:";
  }
  .address tbody tr td:nth-child(6):before {
    content: "City:";
  }
  .address tbody tr td:nth-child(7):before {
    content: "Postal Code:";
  }
  .address tbody tr td:nth-child(8):before {
    content: "Phone:";
  }
  .address tbody tr td:nth-child(9):before {
    content: "Last Update:";
  }
  
  /* Category */
   .category tbody tr td:nth-child(2):before {
    content: "Category ID:";
  }
  .category tbody tr td:nth-child(3):before {
    content: "Name:";
  }
  .category tbody tr td:nth-child(4):before {
    content: "Last Name:";
  }
  
  /* City */
  .city tbody tr td:nth-child(2):before {
    content: "City ID:";
  }
  .city tbody tr td:nth-child(3):before {
    content: "City:";
  }
  .city tbody tr td:nth-child(4):before {
    content: "Country ID:";
  }
  .city tbody tr td:nth-child(5):before {
    content: "Last Update:";
  }
  
   /* Country */
   .country tbody tr td:nth-child(2):before {
    content: "Country ID:";
  }
  .country tbody tr td:nth-child(3):before {
    content: "Country:";
  }
  .country tbody tr td:nth-child(4):before {
    content: "Last Name:";
  }
  
   /* Customer */
  .customer tbody tr td:nth-child(2):before {
    content: "Customer ID:";
  }
  .customer tbody tr td:nth-child(3):before {
    content: "Store ID:";
  }
  .customer tbody tr td:nth-child(4):before {
    content: "Last Name:";
  }
  .customer tbody tr td:nth-child(5):before {
    content: "First Name:";
  }
  .customer tbody tr td:nth-child(6):before {
    content: "Email:";
  }
  .customer tbody tr td:nth-child(7):before {
    content: "Address ID:";
  }
  .customer tbody tr td:nth-child(8):before {
    content: "Active:";
  }
  .customer tbody tr td:nth-child(9):before {
    content: "Create Date:";
  }
  .customer tbody tr td:nth-child(10):before {
    content: "Last Update:";
  }
  
   /* Film */
  .film tbody tr td:nth-child(2):before {
    content: "Film ID:";
  }
  .film tbody tr td:nth-child(3):before {
    content: "Tile:";
  }
  .film tbody tr td:nth-child(4):before {
    content: "Description:";
  }
  .film tbody tr td:nth-child(5):before {
    content: "Release Year:";
  }
  .film tbody tr td:nth-child(6):before {
    content: "Language ID:";
  }
  .film tbody tr td:nth-child(7):before {
    content: "Original Language:";
  }
  .film tbody tr td:nth-child(8):before {
    content: "Rental Duration:";
  }
  .film tbody tr td:nth-child(9):before {
    content: "Rental Rate:";
  }
  .film tbody tr td:nth-child(10):before {
    content: "Length:";
  }
  .film tbody tr td:nth-child(11):before {
    content: "Replacement Cost:";
  }
  .film tbody tr td:nth-child(12):before {
    content: "Rating:";
  }
  .film tbody tr td:nth-child(13):before {
    content: "Special Features:";
  }
  .film tbody tr td:nth-child(14):before {
    content: "Last Update:";
  }
  
   /* Film_Actor */
   .film_actor tbody tr td:nth-child(2):before {
    content: "Actor ID:";
  }
  .film_actor tbody tr td:nth-child(3):before {
    content: "Film ID:";
  }
  .film_actor tbody tr td:nth-child(4):before {
    content: "Last Update:";
  }
  
  /* Film_Category */
   .film_cateogry tbody tr td:nth-child(2):before {
    content: "Film ID:";
  }
  .film_cateogry tbody tr td:nth-child(3):before {
    content: "Cateogry ID:";
  }
  .film_cateogry tbody tr td:nth-child(4):before {
    content: "Last Update:";
  }
  
  /* Film_Text */
   .film_text tbody tr td:nth-child(2):before {
    content: "Film ID:";
  }
  .film_text tbody tr td:nth-child(3):before {
    content: "Title:";
  }
  .film_text tbody tr td:nth-child(4):before {
    content: "Description:";
  }
  
  /* Inventory */
   .inventory tbody tr td:nth-child(2):before {
    content: "Inventory ID:";
  }
  .inventory tbody tr td:nth-child(3):before {
    content: "Film ID:";
  }
  .inventory tbody tr td:nth-child(4):before {
    content: "Store ID:";
  }
  .inventory tbody tr td:nth-child(5):before {
    content: "Last Update:";
  }
  
  /* Language */
   .language tbody tr td:nth-child(2):before {
    content: "Language ID:";
  }
  .language tbody tr td:nth-child(3):before {
    content: "Name:";
  }
  .language tbody tr td:nth-child(4):before {
    content: "Last Update:";
  }
  
   /* Payment */
   .payment tbody tr td:nth-child(2):before {
    content: "Payment ID:";
  }
  .payment tbody tr td:nth-child(3):before {
    content: "Customer ID:";
  }
  .payment tbody tr td:nth-child(4):before {
    content: "Staff ID:";
  } /* Language */
   .payment tbody tr td:nth-child(5):before {
    content: "Rental ID:";
  }
  .payment tbody tr td:nth-child(6):before {
    content: "Amount:";
  }
  .payment tbody tr td:nth-child(7):before {
    content: "Payment Date:";
  } /* Language */
   .payment tbody tr td:nth-child(8):before {
    content: "Last Update:";
  }
  
  /* Rental */
   .rental tbody tr td:nth-child(2):before {
    content: "Rental ID:";
  }
  .rental tbody tr td:nth-child(3):before {
    content: "Rental Date:";
  }
  .rental tbody tr td:nth-child(4):before {
    content: "Inventory ID:";
  } /* Language */
   .rental tbody tr td:nth-child(5):before {
    content: "Customer ID:";
  }
  .rental tbody tr td:nth-child(6):before {
    content: "Return Date:";
  }
  .rental tbody tr td:nth-child(7):before {
    content: "Staff ID:";
  } /* Language */
   .rental tbody tr td:nth-child(8):before {
    content: "Last Update:";
  }
  
  /* Staff */
   .staff tbody tr td:nth-child(2):before {
    content: "Staff ID:";
  }
  .staff tbody tr td:nth-child(3):before {
    content: "First Name:";
  }
  .staff tbody tr td:nth-child(4):before {
    content: "Last Name:";
  } /* Language */
   .staff tbody tr td:nth-child(5):before {
    content: "Address ID:";
  }
  .staff tbody tr td:nth-child(6):before {
    content: "Picture:";
  }
  .staff tbody tr td:nth-child(7):before {
    content: "Email:";
  } /* Language */
   .staff tbody tr td:nth-child(8):before {
    content: "Store ID:";
  }
  .staff tbody tr td:nth-child(9):before {
    content: "Active:";
  } /* Language */
   .staff tbody tr td:nth-child(10):before {
    content: "User Name:";
  }
   .staff tbody tr td:nth-child(11):before {
    content: "Password:";
  } /* Language */
   .staff tbody tr td:nth-child(12):before {
    content: "Last Update:";
  }
  
   /* Store */
   .store tbody tr td:nth-child(2):before {
    content: "Store ID:";
  }
  .store tbody tr td:nth-child(3):before {
    content: "Manager Staff ID:";
  }
  .store tbody tr td:nth-child(4):before {
    content: "Address:";
  } /* Language */
   .store tbody tr td:nth-child(5):before {
    content: "Last Update:";
  }
  
  
  
  
  
  
  
  
  

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 976px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* CheckBox */

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
  line-height: 1.4;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}


/* CheckBox End */

/* index button */
@import url(https://fonts.googleapis.com/css?family=Nunito:300);



p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }

.button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #ffff;

  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  width: 250px;
  height: 50px;
  display: inline-block;

  background: #696969;
  border: 1px solid #696969;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #696969;
  border-color: #696969;
  background: #FFF;
  padding: 10px 20px 10px 20px;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #696969;
  right: 0;
  top: 50%;
  font-size:10px;
}

/* index title */
@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
    ;
}
div.foo{
  width: 90%;
  margin: 50px auto;
  text-align: center;
  background-color: #C0C0C0;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #696969;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

@media (max-width: 976px){
     
    .row1{
        margin-left:20px;
    }
}